@import url('https://fonts.googleapis.com/css2?family=San+Francisco+Pro:wght@400;600&display=swap');

.App {
  display: flex;
  justify-content: center; /* Adjusted to flex-start to allow content to start from the top */
  align-items: center;
  min-height: 100vh; /* Adjusted to min-height to allow the content to grow beyond the viewport height */
  background-color: #f0f0f0;
  font-family: 'San Francisco Pro', sans-serif;
  padding-top: 20px; /* Added padding at the top to give some space */
}

.rectangle {
  width: 90%;
  max-width: 400px;
  max-height: 80vh; /* Set a max-height to allow for scrolling */
  overflow-y: auto; /* Allow vertical scrolling */
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin: 20px;
  position: relative; /* This will be the reference for the absolute positioning of children */
  align-items: center; /* Center align the children vertically */
  justify-content: right; /* Space out children */
  padding-right: 30px; /* Add padding to make space for the gear icon */
}

.text-input {
  padding: 14px;
  border-radius: 14px;
  border: 1px solid #e5e5e5;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  flex-grow: 1; /* Allow the input to fill the space */
}

.gear-icon {
  position: absolute;
  top: 30px;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.settings-menu {
  position: absolute;
  right: 10px; /* Align the right edge with the gear icon */
  top: 50px; /* Position just below the input container */
  background: white;
  border-radius: 14px;
  border: 1px solid #e5e5e5;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100px; /* Set a specific width */
  min-height: 10px; /* Set a minimum height, it will expand if content is larger */
  max-height: 300px; /* Set a maximum height */
  overflow-y: auto; /* Allows scrolling if content exceeds the max-height */
}

.settings-menu select {
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.output-window {
  padding: 0px;
  border-radius: 14px;
  overflow-y: auto;
  word-break: break-word;
  text-align: left;
  border-color: #373738;
  color: #e5e5e5;
  display: flex;
}

/* Smoothing out input field for iOS */
.text-input:focus {
  border-color: #007aff;
}

/* Dark mode styles for iOS */
@media (prefers-color-scheme: dark) {
  .App {
    background-color: #000;
  }

  .rectangle {
    background-color: #1c1c1e;
  }

  .text-input{
    background-color: #2c2c2e;
    border-color: #373738;
    color: #e5e5e5;
  }
  .text-input{
    animation: fadeIn 2s ease-in-out; /* Fade-in effect on load */
  }

  .text-input:focus {
    border-color: #0a84ff;
  }
}
